.logo-container {
  position: absolute;
  top: 180px; /* Khoảng cách từ trên xuống */
  left: 680px; 
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.colorGym{
  color:rgb(210, 31, 88);
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
}
.colorForgot{
  color:rgb(210, 31, 88);
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}
.colorHuflit{
  color:rgb(0, 0, 0);
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
}
.email {
  position: absolute;
  top: 280px; /* Khoảng cách từ trên xuống */
  left: 550px; 
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.emailBox {
  position: absolute;
  top: 290px; /* Khoảng cách từ trên xuống */
  left: 550px; 
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}

.passForgot {
  position: absolute;
  top: 350px; /* Khoảng cách từ trên xuống */
  left: 830px; 
  display:flex;
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.pass {
  position: absolute;
  top: 350px; /* Khoảng cách từ trên xuống */
  left: 550px; 
  display:flex;
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.passBox {
  position: absolute;
  top: 360px; /* Khoảng cách từ trên xuống */
  left: 550px; 
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.checkBox {
  position: absolute;
  top: 420px; /* Khoảng cách từ trên xuống */
  left: 550px; 
  display:flex;
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.Login {
  position: absolute;
  top: 450px; /* Khoảng cách từ trên xuống */
  left: 550px; 
  display:flex;
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.textSmall {
  position: absolute;
  top: 520px; /* Khoảng cách từ trên xuống */
  left: 650px; 
  display:flex;
  align-items: center;
  text-align: center;
  color:rgb(94, 95, 95);
  text-size-adjust: 20px;
}
.Google {
  position: absolute;
  top: 580px; /* Khoảng cách từ trên xuống */
  left: 550px; 
  display:flex;
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.imageGoogle {
  position: absolute;
  top: 590px; /* Khoảng cách từ trên xuống */
  left: 650px; 
  display:flex;
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.create {
  position: absolute;
  top: 630px; /* Khoảng cách từ trên xuống */
  left: 680px; 
  display:flex;
  align-items: center;
  text-align: center;
  text-size-adjust: 20px;
}
.text{
  font-size: 15px;
}