.landingpage{
    padding: 20px 40px;
}
.landingpage .tiltle{
    display: inline-block;
    margin: 0 5px;
}
.landingpage .tiltle h2{
    margin: 0 5px;
    font-weight: bold;
}

.landingpage button{
    display: inline-block;
    margin: 0 5px;
}
.landingpage .search{
    display: inline-block;
}
.landingpage .authencation{
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 5px;
    color: orangered;
}
.landingpage .authencation:hover{
    background-color: orangered;
    color: white;
}
.landingpage ul{
    display: inline-block;
    list-style-type: none;
}
.landingpage ul li{
    display: inline-block;
    padding: 5px;
    margin: 10px;
}
.landingpage ul li:hover{
    border-bottom: 2px solid orangered; 
}
.landingpage .second{
    width: 100%;
}
.landingpage .left{
    width: 50%;
    padding: 40px 0px;
}
.landingpage .left p{
   text-align: center;
   font-size: 30px
}
.landingpage .left .outstanding{
    font-size: 50px;
    font-weight: bolder;
    color: orangered;
 }
 .landingpage .left .describe{
    margin: 5px 0px;
 }
 .landingpage .left button{
    margin: 5px 0px;
    width: 50%;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 5px;
    color: orangered;
 }
 .landingpage .left button:hover{
    background-color: orangered;
    color: white;
 }
 .landingpage .third{
    width: 100%;
    margin: 20px 0px;
 }
 .landingpage .item{
    display: inline-block;
    width: 25%;
    padding: 5px 10px;
    border-right: 2px solid orangered;
 } 
 .landingpage .item span{
    font-size: 30px;
    font-weight: bolder;
    color: orangered;
 }
 .landingpage .item .tiltle{
    display: inline;
 }
 .landingpage .item .summary{
    font-size: 10px;
    text-align: center;
 }


 .landingpage .four{
    background-color: green;
 }
 .landingpage .four .four1{
    text-align: center;
    padding: 10px 0px;
    font-size: larger;
    color: white;
 }
 .landingpage .four .four3{
    text-align: center;
    padding: 10px 0px;
    font-size: large;
    color: white;
 }
 .landingpage .four .four2{
    display: inline-block;
    width: 25%;
    margin: 0px 10px;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), black);
    z-index: 1;
 }
 .landingpage .four .four2 .four21{
    font-size: 30;
    font-weight: 900;
    color: orangered;
 }
 .landingpage .four .four2 .four22{
    font-size: 15px;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
 }
 .landingpage .four .four2 a{
    z-index: 2;
    font-size: 20px;
    font-weight: 0900;
    color: white;
 }

 .landingpage .five{
   padding: 0px 20px;
 }
 .landingpage .five .first{
   width: 100%;
   position: relative;     
 }
 .landingpage .five .first .first1{
   font-size: 30px;
   position: absolute;            /* Để căn giữa */
    top: 50%;                      /* Di chuyển xuống 50% */
    left: 50%;                     /* Di chuyển sang phải 50% */
    transform: translate(-50%, -50%); /* Căn giữa chính xác */
 }
 .landingpage .five .first .first2{
   width: fit-content;
   border: 1px solid orangered;
   border-radius: 5px;
   position: absolute;            /* Để căn giữa */
    top: 50%;                      /* Di chuyển xuống 50% */
    left: 50%;                     /* Di chuyển sang phải 50% */
    transform: translate(-50%, -50%); /* Căn giữa chính xác */
 }
 .landingpage .five .first .first2 button{
   display: inline-block;
 }
 .landingpage .five .first .first2 button:focus{
   background-color: orangered;
   color: white;
 }
 .landingpage .five .second{
   width: 100%;
   margin-top: 20px;
 }
 .landingpage .five .second .item{
   display: inline-block;
   width: calc(100% / 3);
   border: 1px solid orangered;
   border-radius: 5px;
   padding: 5px;
 }
 .landingpage .five .second .item .div{
   text-align: center;
 }
 